<!DOCTYPE html>
<html>
  <head>
    <!-- <title><%= title %></title> -->
  </head>

  <body>
    <h1>Welcome to <%= title %></h1>
    <ul>
      <% products.forEach(p => { %>
      <li><%= p.title %></li>
      <% }) %>
    </ul>
  </body>
</html>
